.maps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.darkforest{
    height: 267px;
    transition: all 1s ease-in-out;
}
.memorycorridor{
    height: 267px;
    transition: all 1s ease-in-out;
}
.memorycorridor p{
    opacity: 0;
}
.oldchurch{
    height: 267px;
    transition: all 1s ease-in-out;
}
.oldchurch p{
    opacity: 0;
}
.abandonedfactory{
    height: 267px;
    transition: all 1s ease-in-out;
}
.abandonedfactory p{
    opacity: 0;
}
.ritualgrounds{
    height: 267px;
    transition: all 1s ease-in-out;
}
.ritualgrounds p{
    opacity: 0;
}
.lighthouse{
    height: 267px;
    transition: all 1s ease-in-out;
}
.lighthouse p{
    opacity: 0;
}

/* this is a seperation comment */

.darkforest:hover{
    border: 1px solid red;
    transform: translateY(-20px);
}
.darkforest:hover p{
    opacity: 1;
}
.memorycorridor:hover{
    border: 1px solid red;
    transform: translateY(-20px);
}
.memorycorridor:hover p{
    opacity: 1;
}
.oldchurch:hover{
    height: 500px;
    transform: translateY(-20px);
}
.oldchurch:hover p{
    opacity: 1;
}
.abandonedfactory:hover{
    height: 500px;
    transform: translateY(-20px);
}
.abandonedfactory:hover p{
    opacity: 1;
}
.ritualgrounds:hover{
    height: 500px;
    transform: translateY(-20px);
}
.ritualgrounds:hover p{
    opacity: 1;
}
.lighthouse:hover{
    height: 500px;
    transform: translateY(-20px);
}
.lighthouse:hover p{
    opacity: 1;
}