html{
    scroll-behavior: smooth;
}
body{
    background-color: #1d1d1e;
    background-image: url("images/612BzN2f6rL.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* opacity: 0.7; */
}

#about-us{
    height: 500px;
}
#services{
    height:1000px
}
.navbar{
    width: 100%;
    height:50px;
    background-color: aqua;
    color: red;
}
/* img {
  max-width: 100%;
  height: auto;
} */