html{
    scroll-behavior: smooth;
    color: white;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url("images/abdb187a-3b88-47d2-94bf-9f48a017d452.png");
    background-size: cover;
    background-attachment: fixed;
    /* opacity: 0.7; */
}


#game-name{
    /* height: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.darkforest:hover{
    /* border: 1px solid red; */
    transform: translateY(-20px);
}
.memorycorridor:hover{
    /* border: 1px solid red; */
    transform: translateY(-20px);
}
.oldchurch:hover{
    /* height: 500px; */
    transform: translateY(-20px);
}
.abandonedfactory:hover{
    /* height: 500px; */
    transform: translateY(-20px);
}
.ritualgrounds:hover{
    /* height: 500px; */
    transform: translateY(-20px);
}
.lighthouse:hover{
    /* height: 500px; */
    transform: translateY(-20px);
}
.navbar{
    width: 100%;
    height:50px;
    border: 100px;
    background-color: rgb(128, 0, 0);
    display: flex;
    justify-content: space-around;
    font-family: "Mountains of Christmas", cursive;
}
video{
width: 100%;
z-index: -2;
}
.navbar1{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size:xx-large;
}
.font{
    font-family: "Mountains of Christmas", cursive;
    text-align: center;
    color: red;
}
span{
    color: red;
    font-weight: bolder;
}
.met-the-man{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 50px;
}
.withchild{
    grid-row: span 2;
    padding:10px;
    align-content:center;
    text-align:center;
    border-radius: 30px;
}
.story{
    padding:10px;
    align-content:center;
    text-align:center;
}
.conclu{
    padding:10px;
    align-content:center;
    text-align:center;
    font-family: "Mountains of Christmas", cursive;
    font-size:xx-large;
    color: maroon;
}
.psycho{
    opacity: 0.4;
}
.maps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.indiphoto{
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
    align-content:center;
    text-align:center;
}
.xyz:hover{
    border: 1px solid red;
}